body{
    font-family: 'Roboto', sans-serif;
}

/* ##### UTILITY ##### */

.bc-colorwhite{
    color: white;
}

.bc-colorSky{
    background-color: #1b72e8;
}

.bc-colorBlu{
    background-color: #165bba;
}

/* ##### HEADER ##### */

header{
    height: 70px;
}

.bc-header-element{
    height: 70px;
}

.bc-img2{
    width: 50px;
    height: 50px;
}

/* !!!!!!!!! sistemare campanella !!!!!!!!!!*/

/* ##### MAIN ##### */

main{
    margin-top: 70px;
    height: calc(100vh - 70px);
}

/* ##### SIDEBAR ##### */

.bc-sidebar{
    width: 150px;
    min-height: 800px;
    background-color: #051e34;
    color: white;
}

.bc-main{
    width: calc(100% - 150px);
    min-height: 800px;
    overflow-y: auto;
}

@media screen and (max-width: 992px) {
    .bc-sidebar{
        width: 80px;
    }

    .bc-main{
        width: calc(100% - 80px);
    }
}

/* ##### FIRST SECTION RIGHT MAIN */

.bc-fontSize{
    font-size: small;
    font-weight: 100;
    border-radius: 13px;
}

.bc-fontSize2{
    font-size: 30px;
}

/* ##### SECOND SECTION RIGHT MAIN */

.bc-fontsize3{
    color: black;
    font-weight: 600;
}

.bc-colorIcons{
    background-color: #f26551;
}

.bc-colorGreenBadge{
    background-color: #198754;
}

.bc-colorYellowBadge{
    background-color: #ffc107;
}

.bc-colorRedBadge{
    background-color: #dc3545;
}